<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>About</h2>
            <p>
                Todo App is a simple todo application using the MEAN (Mongo, Express, Angular, Node) stack.
                While the application is simple and beginner to intermediate level in its own right, 
                the concepts here can apply to much more advanced apps.
            </p>

            <p>It has the following functionality and objectives:</p>
            <ul>
                <li ng-repeat="objective in objectives">{{ objective }}</li>
            </ul>
        </div>
    </div>
</div>
